  <div class="col-sm-12">
    <h1 class="text-center"><%= @sensor[:name] %></h1>
    <p class="text-center"><%= @sensor[:id] %></p>
    <div id="graphdiv" class="graphsize">
      
    </div>
    <div class="col-sm-12 form-inline text-center">

        <button href="" class="btn btn-success" id="live_start">Start</button>
        <button href="" class="btn btn-danger" id="live_stop">Stop</button>
    </div>
      
  </div>
